.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0b0f17;
  color: #fff;
  padding: 15px 25px;
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar-logo {
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: 1px;
}

.nav-links {
  display: flex;
  gap: 1.5rem;
}

.nav-links a {
  color: #e6edf3;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s;
  margin-left: 1.2rem;
}

.nav-links a:hover {
  color: #3ba4ff;
}

/* Hamburger icon */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
  border-radius: 5px;
}

/* Responsive styling */
@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    background-color: #121829;
    position: absolute;
    top: 60px;
    right: 0;
    width: 200px;
    border-radius: 10px;
    padding: 10px;
  }

  .nav-links.active {
    display: flex;
  }

  .hamburger {
    display: flex;
  }
}
